h1,
h2 {
  display: flex;
  justify-content: center;
  padding: 12px;
  font-family: 'Courier Prime', monospace;
  opacity: 0.8;
}
h3 {
  display: flex;
  justify-content: center;
  opacity: 0.8;
  padding: 15px;
  font-family: 'Courier Prime', monospace;
}

body {
  background:white;
} 

:root {
  --primary-color: #FF00FF;
  --secondary-color: magenta;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --gradient: linear-gradient(to right, #a8ff78, #78ffd6);
}

.informational-links a {
  display: flex;
  justify-content: center;
  margin: 30px;
  border-radius: 4px;
  padding: 20px 15px;
  font-family: 'Courier Prime', monospace;
}

.informational-links {
  display: flex;
  justify-content: center;
}

.about-info-boxes {
  display: flex;
  justify-content: center;
  margin: 30px;
  border-radius: 4px;
  padding: 20px 15px;
  font-family: 'Courier Prime', monospace;
  color: chartreuse;
}

.info-box {
  border-radius: 4px;
  padding: 20px 15px;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.contact-section {
  display: flex;
  justify-content: center;
  font-family: 'Courier Prime', monospace;
}

.homepage-link {
  display: block;
  text-align: center;
  margin: 10px;
  font-family: 'Courier Prime', monospace;
}


.container {
  display: flex;
  flex-direction: row;
}

.emailLink {
  text-decoration: underline;
}

.navbar-logo {
  width: 65px;
  padding: 10px;
}

#rainbow,
#rain 
 {
  width: 100px;
  justify-content: center;
  margin: auto;
  display: block;
}

#pastel,
#newton,
#color-gen {
  height: 200px;
  width: auto;
  margin: auto;
}

#peep {
  height: 200px;
  display: block;
  margin: auto;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: chartreuse;
  font-family: 'Courier Prime', monospace;
  display: flex;
}

a.primary-link:hover {
  color: chartreuse !important;
}

#weather-app {
  background-image: var(--gradient);
  border-radius: 7px;
}

.navbar {
  font-family: 'Courier Prime', monospace;
  background: #FF00FF !important; 
}

.social {
  margin: auto;
  width: 15%;
}

p {
  font-family: 'Roboto', sans-serif;
}


#top, #bottom, #left, #right {
	background: #FF00FF;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    @media 

/* hamburguer appears and border disappears */
only screen and (max-width: 980px){
	#top, #bottom, #left, #right { display: none; }
}

 
.btn-default {
  color:#FF00FF;
  background-color: white;
  border-color: #FF00FF;
  box-shadow: none!important;
  font-family: 'Courier Prime', monospace;
  }

  .btn-default:hover, .btn-default:focus {
    background-color: #FF00FF;
    color:#ffff;
    border-color: #FF00FF;
    box-shadow: none!important;
    font-family: 'Courier Prime', monospace;
    }
   